.list_item {
  margin: 10rem 0;
}
.list_item:first-of-type {
  margin-top: 12rem;
}

/* // <Card /> Component */
.list_item > div {
  display: flex;
}

.image img {
  width: 70rem;
  height: 45rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0);
  object-fit: cover;
}

.content {
  /* font-size: 3rem; */
  margin: 0 0;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h3 {
  font-size: 5rem;
  font-weight: 400;
  margin: 0 0;
  color: rgb(97, 219, 251);
  filter: drop-shadow(0 0 1rem black);
  font-family: "Roboto Condensed", Verdana;
}

.content p {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Roboto", Verdana;
}

.content a {
  text-decoration: none;
  color: rgb(97, 219, 251);
  opacity: 0.5;
  transition: all 300ms;
  backface-visibility: hidden;
}

.content a:hover {
  opacity: 1;
  /* border-bottom: 0.3rem solid rgb(97, 219, 251); */
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgb(0, 0, 0));
  /* box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 2%; */
}

.author_date {
  color: rgb(97, 219, 251);
}

.author_date span {
  margin-left: 1rem;
  color: rgb(124, 124, 124);
}

@media (max-width: 1024px) {
  .content h3 {
    font-size: 3.5rem;
  }
  .content p {
    font-size: 1.8rem;
  }
  .image img {
    width: 60rem;
    height: 35rem;
  }
}

@media (max-width: 768px) {
  .list_item {
    margin: 5rem 0;
  }

  .list_item:first-of-type {
    margin: 6rem 0;
  }

  .list_item > div {
    height: 60rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .content {
    margin-right: 0;
    text-align: justify;
    text-justify: inter-word;
    /* justify-content: center; */
  }
}
