.trending {
  /* background-color: grey; */
  /* height: 50rem; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 30rem);
  gap: 5rem;
}

.trending a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.trending a:hover {
  transform: scale(1.02);
}

.trending a:first-child {
  grid-row: 1 / 3;
}

.trending a:first-child h3 {
  font-size: 5rem;
  font-family: "Roboto Condensed";
}

.trending a:first-child p {
  font-size: 2.6rem;
}

.trending a:first-child p span {
  font-size: 2rem;
}

.trending a:first-child > div > div {
  padding: 3rem 3rem;
}

.header {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  font-family: "Roboto Condensed", Verdana;
  /* font-style: italic; */
  /* text-decoration: underline; */
  filter: drop-shadow(0 0 1rem black);
  margin-top: 8rem;
}
